body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #3e5559;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin-top: 10%;
    text-align: center;
}

.search-field {
    outline: none;
    border: 4px solid #32e17c;
    border-radius: 25px;
    height: 50px;
    width: 256px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 500;
    display: block;
    text-align: center;
}

.search-field:disabled {
    background: #EAECEE;
}

.search-button {
    outline: none;
    border: 4px solid #32e17c;
    border-radius: 25%;
    height: 50px;
    font-weight: 500;
    font-size: 16px;
    margin-top: 10px;
    background: #fff;
}

.content {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 50px;
}

.album-card {
    width: 256px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    margin: 16px;
    display: inline-block;
}

.album-header {
    background-color: #32e17c;
	padding: 32px 16px;   
}

.album-image {
    display: inline-block;
	padding: 8px;
	margin: auto;
	background: linear-gradient(128deg, #3e5559, #A569BD);
	border-radius: 50%;   
}

.album-image img {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.cue-name {
	color: #1C2833;
	font-size: 28px;
	font-weight: 800;
    margin: 10px 0;
    height: 55px;
}

.album-name {
    font-size: 14px;
    font-weight: 1000;
    color: #3e5559;
}

.audio {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.audio button {
	color: #1C2833;
	width: 32px;
	font-size: 32px;
    transition: .3s linear;
    background: none;
    border: none;
    outline: none;
}

#search-keywords {
    width: 75%;
    background-color: #1C2833;
    margin: 20px auto;
    border-radius: 25px;
    display: none;
    justify-content: center;
}

.keywords-list {
    margin: 25px 25px;
}

.keywords-list h2 {
    color: #32e17c;
    text-align: center;
}

.keywords-list a {
    color: #fff;
    font-size: 16px;
    display: block;
    padding: 8px 16px;
    width: 250px;
    text-align: center;
    border: none;
    outline: none;
    margin: 10px;
    font-weight: 800;
}

.keywords-list a:hover {
    background-color: #32e17c;
    color: #000;
}